.section1{
    box-shadow: 0px 0px 10px #fff;
    position: relative;
}
.section1 .pricing_nav{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.pricing_nav>*{
    flex: 1;
    display: flex;
    justify-content: center;
}
.pricing_nav a{
    color: #000;
    font-weight: bold;
    opacity: 1;
    font-size: 13.5px;
    text-transform: uppercase;
}
/* .pricing_nav .left_nav li{
    margin: 0px 5px;
} */

.section2{
    margin: 0rem auto;
    padding: 2rem 0rem;
    background-image: url("images/Plain-Black-Wallpapers-HD-74-images-.jpg");
    background-size: cover;
}
.s2_header h1, .s2_header p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* margin-bottom: 10px; */
}
.section2 .s2_content{
    width: 400px;
    margin: 0px 15px;
}
.s2_content h5{
    margin: 0px;
    background-color: #cd0a0a; /* #333333*/
    color: #fff;
    padding: 15px 0px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.s2_card{
    padding: 1.5rem 2.5rem 2.5rem;
    border: 1px solid rgb(161, 161, 161);
    background-color: #fff;
}
.s2_card p:nth-child(1){
    font-weight: 500;
    font-size: 17px;
    margin: 0rem;
}
.s2_card p:nth-child(2){
    font-size: 55px;
    font-weight: bold;
    margin: 1rem 0rem 0rem;
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
}
.s2_card p:nth-child(3){
    font-size: 17px;
    font-weight: 500;
}
.s2_card small{
    font-size: 30%;
    font-weight: bold;
}
.s2_card li{
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 15px;
    margin: 0rem;
}
.s2_card li span:nth-child(1){
    margin-left: 10px;
}
.s2_card li span:nth-child(2){
    margin-left: auto;
}
.s2_card li.price_option_selected{
    background-color: rgb(231, 231, 231);
}
.s2_content button{
    border: 2px solid #cd0a0a;
    background-color:#fff ;            /*  rgb(235, 52, 52) */
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0px;
    width: 90%;
    color: #cd0a0a;
    cursor: pointer;
}
.s2_content button:hover{
    border: 2px solid #cd0a0a;
    background-color:#cd0a0a;
    color: #fff;
}

@media (max-width: 2167px){
    .section2 .owl-carousel{max-width: 1720px !important;} /*4*/
}
@media (max-width: 1737px){
    .section2 .owl-carousel{max-width: 1290px !important;} /*3*/
}
@media (max-width: 1307px){
    .section2 .owl-carousel{max-width: 860px !important;} /*2*/
}
@media (max-width: 877px){
    .section2 .owl-carousel{max-width: 430px !important;} /*1*/
}